@import '../../variables';

.mobile .CourseSearch {
  flex: 1;
  border-right: none;

  .scroller {
    width: auto;
  }
}

.CourseSearch {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .add {
    @include card;
    background-color: $color-border;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .primary {
      display: flex;
      align-items: center;

      .icon {
        margin-left: 8px;
        color: $color-neutral;
        transition: color .2s;

        &.active {
          color: inherit;
        }
      }

      .keyword-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;
        

        .keyword {
          position: relative;
          flex-direction: row;
          background: none;
          border: none;
          outline: none;
          font-size: 1em;
          font-weight: bold;
          height: 40px;
        
          

          &::placeholder {
            font-weight: normal;
            color: $color-neutral;
            text-transform: none;
          }

          &.autocomplete {
            position: absolute;
            opacity: .5;
          }
        }
      }
    }
  }

  .Course {
    background-color: $color-border;
    opacity: .6;
    transition: opacity .2s;

    &:hover,
    &.active {
      opacity: 1;
    }
  }

  .disclaimer {
    color: $color-neutral;
    padding: 4px;
    font-size: .8em;
  }
}