@import '../../variables';

.ProfessorInfo {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include dark(background, $theme-dark-background-foreground);
  @include light(background, $theme-light-card-background);

  .professor-header {
    padding: 0px;

    .professor-name {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0px;
    }
  }

  .sections-container {
    .sections-header,
    .section-row .section-content {
      display: grid;
      grid-template-columns:
        45px /* action */
        0.91fr /* CRN */
        0.87fr /* Sect */
        0.96fr /* Day */
        1.98fr /* Time */
        1.52fr /* Seats Filled */
        1.36fr /* Waitlist */
        2.5fr; /* Location */
      align-items: center;
    }

    .section-row .left-group,
    .section-row .right-group {
      display: contents;
    }

    .section-row {
      padding: 0px;
    }

    .sections-header {
      padding: 0px;
      padding-left: 0px;
      color: $table-header;
      > .left-group,
      > .right-group {
        display: contents;
      }

      .row-cell {
        font-size: 0.7rem;
      }
    }

    .section-row {
      .section-content {
        padding: 0px;
        padding-left: 0px;
        border-top: 1px solid $table-border;
      }

      .action-row-header {
        display: none;
      }
    }

    .row-cell {
      font-size: 0.875em;
      padding: 8px;
      display: flex;
      align-items: center;
      min-height: 46px;

      .action-button {
        background: none;
        border: none;
        cursor: pointer;
        padding-left: 0px;
        border-radius: 4px;
        display: flex;
        font-size: 1em;

        .action-icon {
          color: $information-blue;
        }
      }
    }
  }
}
