@import '../../variables';

.header-action-bar {
  &,
  .menu {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;

    .text {
      margin-left: 4px;

      // Make the text hidden on all buttons
      // at sufficiently-small screen sizes
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    .mobile & {
      flex: 1;
      margin-left: 0;

      @media (max-width: $desktop-breakpoint) {
        svg:not(.caret) {
          transform: scale(1.3);

          @media (max-width: $large-mobile-breakpoint) {
            transform: scale(1.35);
          }
        }

        .option-container {
          svg:not(.caret) {
            transform: scale(1);
          }
        }
      }

      @media (max-width: $large-mobile-breakpoint) {
        height: 64px;
        justify-content: flex-start;
        padding-left: 4px;
      }

      .Button:not(.option-button-text) {
        padding-left: 18px;
        padding-right: 18px;
      }
    }
  }
}
