@import "../../variables";

.CourseFilter {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-top: 1px solid $color-border;

  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8em;
    cursor: pointer;
    padding: 12px;
    opacity: .5;
    transition: opacity .2s;

    &.active,
    &:hover {
      opacity: 1;
    }

    .name {
      font-weight: bold;
      flex: 1;
      margin-right: 8px;

      .or {
        font-weight: normal;
      }
    }
  }

  
  
  
  .tag-container {
    display: flex;
    flex-direction: column;
    margin-top: -12px;
    padding: 8px;
    
    
    

    .buttonContainer {
      display: flex;
      flex-wrap: wrap;
    }

    .subTitle {
      display: flex;
      height: 30px;
      font-weight: normal;
      opacity: .5;
      font-size: 0.8em;

    }
    .timeTitles {
      display: flex;
      font-weight: normal;
      opacity: .5;
      font-size: 0.8em;
    }

    .endSubTitle {
      margin-left: 23px;
      position: relative;
      bottom: -10px;
      margin-top: -10px;

    }

    .startSubTitle {
      position: relative;
      bottom: -10px;
      margin-top: -10px;

    }

    

    .tag {
      @include card;
      background-color: rgba($color-neutral, .5);
      padding: 4px 8px;
      opacity: .5;
      transition: opacity .2s;
      font-size: .8em;
      cursor: pointer;
      

      &.active {
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }
    
  
}
}
