@import "../../variables";

.Course {
  display: flex;
  flex-direction: column;
  color: white;

  .course-header {
    display: flex;
    flex-direction: column;
    padding: 8px;

    .row {
      display: flex;
      align-items: center;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      .course_id {
        flex: 1;
        font-weight: bold;
        margin-right: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .section_ids {
        font-weight: bold;
        white-space: nowrap;
      }
    }

    .row {
      .course_title {
        flex: 1;
        font-size: .8em;
        margin-right: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .section_crns {
        font-size: .8em;
        white-space: nowrap;
      }
    }
  }

  .course-body {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(white, .2);
  }
}
