/build/**
/coverage/**
/node_modules/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/src/vendor/**

# added this for testing purposes since I was getting a lot of TS errors
/src/components/CourseContainer/index.tsx