@import "../../variables";

.MyCourse {
  @include card;
  display: flex;
  flex-direction: column;
  padding: 8px;

  .label {
    margin: none; 
  }

  .palette {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
