@import '../../variables';

.Button {
  display: block;
  text-align: center;
  padding: 8px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 1s ease;

  &:disabled {
    cursor: default;
    color: $color-dark;
  }
}

.App.light .Button {
  background-color: $color-light;
  color: $color-darker;

  &:hover {
    color: black;
  }
}

.App.dark .Button {
  background-color: #282828;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: white;
  }
}
