@import '../../variables';

.Button {
  display: block;
  text-align: center;
  padding: 8px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;

  &:disabled {
    cursor: default;
    color: $color-dark;
  }
}
