@import '../../variables';

.mobile .TimeBlocks:not(.capture) .meeting .meeting-wrapper {
  .ids {
    .event-name {
      flex: 1;
    }
  }
}


.popover tbody tr td {
  max-width: calc(max(200px, 15vw));
  overflow-wrap: break-word;
}

.draggable-main-container {
  .react-draggable {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    left: 0% !important;
    top: 0% !important;

    .TimeBlocks {
      .meeting {
        position: fixed;
        width: 100% !important;
        height: 100% !important;
        left: 0% !important;
        top: 0% !important;
      }
    }
  }

  .draggable-meeting-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0 8px;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: .72em;
    }

    .ids {
      display: flex;
      font-weight: bold;
      overflow: hidden;

      span {
        font-size: .8em;
      }
    }
  }
}