@import '../../variables';

.comparison-container {
  .comparison-body {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-border;
    padding: 12px;
    white-space: nowrap;

    .comparison-header {
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      p {
        margin: 0px;
        overflow: hidden;

        &.header-title{
          flex: 1;
          font-size: 16px;
        }

        &.header-text{
          font-size: 12px;
          margin-right: 4px;
        }
      }

      .switch {
        display: inline-block;
        height: 19px;
        position: relative;
        width: 43px;
      }
      
      .switch input {
        display: none;
      }
      
      .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
        border-radius: 19px;
      }
      
      .slider:before {
        background-color: #ffffff;
        bottom: 2px;
        content: "";
        height: 15px;
        left: 2px;
        position: absolute;
        transition: .4s;
        width: 15px;
        border-radius: 50%;
      }
      
      input:checked + .slider {
        background-color: #589BD5;
      }
      
      input:checked + .slider:before {
        transform: translateX(24px);
      }
    }

    .comparison-content {
      p {
        margin: 0px;
        overflow: hidden;

        &.content-title{
          font-size: 12px;
          font-weight: 700;
          line-height: 14px;
          margin-top: 16px;
          padding-bottom: 4px;
          border-bottom: 1px solid $color-border;
        }
      }
    }
  }

  .comparison-overlay {
    background-color: var(--theme-bg);
    position: absolute;
    top: 64px;
    left: 0px;
    width: 320px;
    bottom: 41px;

    pointer-events: none;
    opacity: 0;
    z-index: 100;
    transition-duration: 0.15s, $theme-switch-transition-duration;
    transition-property: opacity, color, background-color;

    &.open {
      pointer-events: all;
      opacity: 0.4;
    }
  }
}

.mobile .comparison-container {
  flex: 1;
  border-right: none;

  .scroller {
    width: auto;
  }
}
