@import '../../variables';

.comparison-container {
  .comparison-body {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-border;
    white-space: nowrap;
    padding: 12px;

    .comparison-header {
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      p {
        margin: 0px;
        overflow: hidden;

        &.header-title{
          flex: 1;
          font-size: 16px;
        }

        &.header-text{
          font-size: 12px;
          margin-right: 4px;
        }
      }

      .switch {
        display: inline-block;
        height: 19px;
        position: relative;
        width: 43px;
      }
      
      .switch input {
        display: none;
      }
      
      .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
        border-radius: 19px;
      }
      
      .slider:before {
        background-color: #ffffff;
        bottom: 2px;
        content: "";
        height: 15px;
        left: 2px;
        position: absolute;
        transition: .4s;
        width: 15px;
        border-radius: 50%;
      }
      
      input:checked + .slider {
        background-color: #589BD5;
      }
      
      input:checked + .slider:before {
        transform: translateX(24px);
      }
    }

    .comparison-content {
      position: relative;
      p {
        margin: 0px;
        overflow: hidden;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;

        &.content-title{
          font-weight: 700;
          margin-top: 16px;
          margin-bottom: 4px;
          border-bottom: 1px solid $color-border;
        }
      }

      .shared-schedules {
        .checkbox-container {
          padding-left: 12px;
        }
      }

      .checkbox-container {
        display: flex;
        align-items: center;
        position: relative;
        height: 22px;
        
        .checkbox {
          border: 1px solid;
          border-radius: 3px;
          border-color: var(--theme-fg);

          width: 11px;
          height: 11px;
          margin-right: 8px;

          &:hover {
            cursor: pointer;
          }
        }

        .icon {
          width: 27px;
          height: 100%;
          position: relative;
          right: -12px;
          padding: 0px;
        }
        
        p {
          flex: 1;
        }

        &:hover::after {
          content: '';
          position: absolute;
          left: -12px;
          right: -12px;
          height: 100%;
          background-color: $color-border;
          z-index: -10;
        }
      }

      .comparison-overlay {
        background-color: var(--theme-bg);
    
        pointer-events: none;
        opacity: 0;
        z-index: 100;
        transition-duration: 0.15s, $theme-switch-transition-duration;
        transition-property: opacity, color, background-color;

        &.left {
          position: fixed;
          top: 64px;
          left: 0px;
          width: 320px;
          bottom: 41px;
        }

        &.right {
          position: absolute;
          height: 100%;
          top: 0px;
          left: -12px;
          right: -12px;
        }
    
        &.open {
          pointer-events: all;
          opacity: 0.4;
        }
      }
    }
  }
}

.mobile .comparison-container {
  flex: 1;
  border-right: none;

  .scroller {
    width: auto;
  }
}
