@import '../../variables';

.comparison-container {
  .comparison-body {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    height: 100%;

    .comparison-header {
      display: flex;
      align-items: center;
      margin: 11px 12px 7px 12px;

      p {
        margin: 0px;
        overflow: hidden;

        &.header-title{
          flex: 1;
          font-size: 16px;
        }

        &.header-text{
          font-size: 12px;
          margin-right: 4px;
        }
      }

      .switch {
        display: inline-block;
        height: 19px;
        position: relative;
        width: 43px;
      }
      
      .switch input {
        display: none;
      }
      
      .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
        border-radius: 19px;
      }
      
      .slider:before {
        background-color: #ffffff;
        bottom: 2px;
        content: "";
        height: 15px;
        left: 2px;
        position: absolute;
        transition: .4s;
        width: 15px;
        border-radius: 50%;
      }
      
      input:checked + .slider {
        background-color: #589BD5;
      }
      
      input:checked + .slider:before {
        transform: translateX(24px);
      }
    }

    .comparison-content {
      position: relative;
      margin-bottom: 12px;
      overflow-x: hidden;
      overflow-y: auto;
      flex: 1 1 auto;

      p {
        margin: 0px;
        overflow: hidden;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;

        &.content-title{
          font-weight: 700;
          margin: 16px 12px 4px 12px;
          border-bottom: 1px solid $color-border;
        }
      }

      .checkbox-container {
        display: flex;
        align-items: center;
        position: relative;
        height: 22px;
        
        .checkbox {
          margin-left: 12px;
          border: 1px solid;
          border-radius: 3px;
          border-color: var(--theme-fg);
          transition-duration: $theme-switch-transition-duration;
          transition-property: border-color;

          width: 11px;
          height: 11px;

          &:hover {
            cursor: pointer;
          }

          &.indented {
            margin-left: 24px;
          }
        }

        .name {
          margin-left: 12px;
          margin-right: 12px;
          min-width: 0;
          flex-shrink: 1;

          &.check {
            margin-left: 8px;
          }
          
          p {
            text-overflow: ellipsis;
          }
        }

        .edit-input {
          height: 22px;
          border-radius: 4px;
          padding: 4px;
          flex: 1 1;
          font-size: 12px;
          font-weight: 500;
          outline: none;
          border: 1px solid var(--theme-fg);
          margin-left: 8px;

          &.check {
            margin-left: 4px;
          }
        }

        .spacing {
          flex: 1;
        }

        .tooltip {
          background: rgba(0, 0, 0, 0.8);
          border-radius: 4px;
        }

        .icon {
          width: 27px;
          height: 100%;
          padding: 0px;
          opacity: 0;
        }

        &:hover {
          background-color: $color-border;

          .icon {
            opacity: 1;
          }

          .name {
            margin-right: 0px;
          }
        }

        &.editing {
          .icon {
            opacity: 1;
          }
        }
      }
    }

    .comparison-overlay {
      background-color: var(--theme-bg);
  
      pointer-events: none;
      opacity: 0;
      transition-duration: 0.15s, $theme-switch-transition-duration, $theme-switch-transition-duration;
      transition-property: opacity, color, background-color;

      &.left {
        position: fixed;
        top: 64px;
        left: 0px;
        width: 320px;
        bottom: 41px;
      }

      &.right {
        position: absolute;
        top: 100px;
        width: 256px;
        height: 360px;
      }
  
      &.open {
        pointer-events: all;
        opacity: 0.4;
      }
    }
  }
}

.mobile .comparison-container {
  flex: 1;
  border-right: none;

  .scroller {
    width: auto;
  }
}

.shared-schedule-modal {

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  p {
    font-size: 12px;
    line-height: 18px;
    overflow-wrap: break-word;
  }

  .cancel-button {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 11px;
    right: 11px;
    border-radius: 50%;
  }
}