@import '../../variables.scss';

.MetricsCard {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;

  .metrics-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    .metric-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 40px;
      padding-right: 40px;
      border-right: 1px solid $color-border;

      &:last-child {
        border-right: none;
      }

      .metric-value {
        font-size: 1.25em;
      }

      .metric-unit {
        font-size: 0.875em;
        font-weight: normal;
      }

      .metric-label {
        font-size: 0.875em;
        margin-top: 4px;
        @include dark(color, $seat-info-dark-label);
        @include light(color, $seat-info-light-label);
      }
    }
  }
}
