@import '../../variables.scss';

.metrics-card-container {
  padding: 40px 0px;
  container-type: inline-size;
  container-name: metrics-container;

  .metrics-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: start;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    .metric-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 40px;
      border-right: 1px solid $color-border;
      gap: 8px;

      &:last-child {
        border-right: none;
      }

      .metric-value-unit-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .metric-value {
          font-size: 1.25rem;
        }

        .metric-unit {
          font-size: 0.875em;
        }
      }

      .metric-label {
        @include dark(color, $table-header-dark);
        @include light(color, $table-header-light);
      }
    }
  }
}

@container metrics-container (max-width: 600px) {
  .metrics-card-container {
    padding: 20px 0px;
    .metrics-list {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-auto-flow: row;
      grid-row-gap: 40px;

      .metric-item {
        border-right: none;
        padding: 0 20px;
      }
    }
  }
}
