@import '../../variables';

.Instructor {
  display: flex;
  flex-direction: column;
  margin-left: 8px;

  .name {
    display: flex;
    align-items: center;
    padding: 8px;
    font-weight: bold;
  }

  .sections {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    .section {
      position: relative;
      display: flex;
      align-items: center;
      padding: 8px;

      .section-header {
        display: flex;

        .section_id {
          flex: 1;
          font-weight: bold;
          margin-right: 8px;
        }

        .instructors {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .meetings {
        flex: 1;
        display: flex;
        flex-direction: column;

        .meeting {
          display: flex;
          justify-content: flex-end;

          .days {
            font-size: 0.8em;
            margin-right: 8px;
          }

          .period {
            font-size: 0.8em;
            min-width: 8em;
          }
        }
      }
    }
  }
}
