@import '../../variables';

.view-mode {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: $calendar-web-margin;
  margin-top: 16px;

  .view-mode-label {
    font-size: 1em;
    font-weight: bold;
  }

  .view-mode-tab-bar {
    font-size: 0.875em;
  }
}
