@import '../../variables';

.TabBarContainer {
  position: relative;
  overflow: hidden;
}

.TabBar {
  display: flex;
  align-items: center;
  @include dark(background-color, $buttons-secondary-action-dark);
  @include light(background-color, $buttons-secondary-action-light);
  border-radius: 10px;
  padding: 4px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-x: auto; // Better than 'scroll' as it hides bars when not needed
  overflow-y: hidden;

  .tab {
    min-width: 128px;
    padding: 14px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    color: $buttons-secondary-action;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
    gap: 8px;

    &.active {
      @include dark(background-color, rgba($color-neutral, 0.3));
      @include light(background-color, $theme-light-background);
      @include dark(color, $theme-light-background);
      font-weight: bold;
    }
  }

  &.unselectable {
    flex-wrap: wrap;
    overflow-x: visible;
    justify-content: flex-start;
    .tab {
      @include dark(color, $theme-light-background);
      cursor: default;
      opacity: 1;
    }
  }
}

.fade-right,
.fade-left {
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.fade-right {
  right: 0;
  @include dark(background, linear-gradient(
    to right,
    rgba($buttons-secondary-action-dark, 0),
    rgba($buttons-secondary-action-dark, 1)
  ));
  border-radius: 0 10px 10px 0;
}

.fade-left {
  left: 0;
  @include dark(background, linear-gradient(
    to left,
    rgba($buttons-secondary-action-dark, 0),
    rgba($buttons-secondary-action-dark, 1)
  )); 
  border-radius: 10px 0 0 10px;
}
