@import '../../variables';

.App {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: color .2s, background-color .2s;

  .main {
    overflow: hidden;
    flex: 1;
    display: flex;
    align-items: stretch;

    .calendar-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      overflow-y: auto;

      .calendar {
        min-height: $calendar-height;
      }
    }
  }

  .capture-container {
    position: absolute;
    top: 0;
    left: 100vw;
    background-color: inherit;

    .fake-calendar {
      width: $calendar-width;
    }
  }
}

.App.dark {
  background-color: $theme-dark-background;
  color: $theme-dark-foreground;
  --theme-bg: #{$theme-dark-background};
  --theme-card-bg: #434343;
  --dark-overlay: rgba(0, 0, 0, 0.2);
}

.App.light {
  background-color: $theme-light-background;
  color: $theme-light-foreground;
  --theme-bg: #{$theme-light-background};
  --theme-card-bg: #e5e5e5;
  --dark-overlay: rgba(0, 0, 0, 0.1);
}

.App.mobile {
  .tab-container {
    display: flex;
    height: 64px;
    border-bottom: 1px solid $color-border;

    .tab {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        background-color: $color-border;
      }
    }
  }

  .main {
    .sidebar {
      flex: 1;
      border-right: none;

      .scroller {
        width: auto;
      }
    }
  }
}

.swal-overlay {
  background-color: #00000099;
}

.swal-modal {
  border-radius: 10px;
  padding: 25px 10px;

  h1 { color: #444444; font-weight: 800; }
  p  { color: #555555; text-align: left; }
  a {
    &:hover { color: #ffaa5a; }
    transition: all 0.33s ease;
    color: #f37f6a;
    font-weight: 700;
  }
}

.swal-button {
  &:hover { background-color: #ffaa5a !important; }
  box-shadow: 0px 0px 20px #00000033;
  transition: all 0.33s ease;
  background-color: #f37f6a;
  border-radius: 15px;
  margin-top: 0.67em;
  padding: 10px 60px;
  font-size: 12px;
}

.swal-footer {
  padding: 0 20px;
  text-align: center;
}