@import '../../variables';

.App {
  position: fixed;
  display: flex;
  align-items: stretch;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 1s ease;

  .avgGpa.sum {
    text-align: center;
    transition: 1s ease;

    .labelAverage {
      font-weight: 500;
      font-style: italic;
      display: inline-block;
      font-size: 16px;
      height: 22px;
      line-height: 18px;
      transition: 1s ease;
    }

    .gpa {
      width: 50px;
      height: 30px;
      display: inline-block;
      margin-left: 8px;
      line-height: 27px;
      text-align: center;
      color: white;
      font-weight: 500;
      display: inline-block;
      font-size: 16px;
      transition: 0.5s ease;
    }
  }

  .customHandle {
    cursor: ew-resize;
    width: 10px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: 1s ease;
  }

  .collapsed {
    label {
      overflow: visible;
      display: inline-block;
      transform: rotate(-90deg);
    }
  }

  .calendar-container {
    flex: 1;
    overflow-y: auto;
    display: flex table;
    justify-content: center;
    transition: 1s ease;

    .titlebar {
      display: block;
      height: 75px;
      overflow: hidden;
      transition: 1s ease;

      .icon {
        float: right;
        background-color: none;
        padding-top: 10px;
        font-size: 25px;
        text-align: center;
        transition: 1s ease;
        padding-right: 10px;

        label {
          font-size: 15px;
          font-style: italic;
        }
      }

      .icon:hover {
        transition: 0.5s ease;
      }

      .features {
        float: left;
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding-top: 28px;
        transition: 0.5s ease;
      }

      .features:hover {
        font-weight: bolder;
        transition: 0.5s ease;
      }

      img {
        float: left;
        padding-left: 10px;
      }
    }
  }

  .capture-container {
    position: absolute;
    top: 0;
    left: 100vw;

    .fake-calendar {
      width: $calendar-width;
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    max-width: 450px;
    min-width: 200px;
    transition: 1s ease;

    .header {
      position: relative;
      display: flex;
      align-items: center;

      .primary {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        padding: 0;
        background: none;

        select {
          align-self: stretch;
          flex: 1;
          padding: 8px 24px 8px 8px;
          font-size: 1.2em;
        }

        &:after {
          position: absolute;
          right: 8px;
          content: '▼';
          font-size: 1em;
        }
      }

      .secondary {
        position: absolute;
        right: 24px;
        font-size: 0.8em;

      }
    }

    .scroller {
      flex: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .footer {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  .sidebar-courses {
    min-width: 256px;

    .scroller {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .course-list {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .sidebar-combinations {
    min-width: 230px;
    .header {
      .sorting-option {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0;

        select {
          align-self: stretch;
          flex: 1;
          padding: 8px 32px 8px 8px;
        }

        &:after {
          position: absolute;
          right: 8px;
          content: '▼';
        }
      }
    }

    .scroller {
      margin-bottom: -1px;

      .combination {
        display: flex;
        height: 100px;
        align-items: stretch;
        transition: 1s ease;

        .number {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2.4em;

          font-size: 0.8em;
          font-weight: bold;
          transition: 1s ease;
          color: rgba(255, 255, 255, 0.7);
        }

        .calendar-preview {
          flex: 1;
          cursor: pointer;
        }
      }
    }

    .footer {
      position: relative;
    }
  }

  .github-fork-ribbon:before {
    background-color: $color-darker;
  }

  &.mobile {
    flex-direction: column-reverse;

    .tab-container {
      flex-shrink: 0;
      display: flex;
      border-bottom: none;

      .tab {
        flex: 1;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-content: center;
        font-weight: bold;
        cursor: pointer;
        transition: 1s ease;

        &.active {
          border-bottom: none;
          transition: 1s ease;
        }

        &:last-child {
          border-right: none;
        }
      }
    }

    .sidebar {
      flex: 1;
      width: auto;
      max-width: none;
      border-left: none;
    }

    .github-fork-ribbon {
      display: none;
    }
  }
}

.App.light {
  background-color: white;

  .avgGpa.sum {
    background-color: $color-light;

    .labelAverage {
      color: $color-darker;
    }

    .gpa {
      border: 2px solid #424242;
    }
  }

  .customHandle {
    background: white;
    border: 2px solid $color-dark;
    box-shadow: -6px 0 5px -1px #aaaaaa;
  }

  .calendar-container {
    box-shadow: inset -6px 0 5px -1px #aaaaaa;

    .titlebar {
      background-color: $color-lighter;
      box-shadow: inset -6px 0 5px -1px #aaaaaa;

      .icon {
        color: $color-darker;
      }

      .icon:hover {
        color: black;
      }

      .features {
        color: $color-darker;
        padding-left: 10px;
      }

      .features:hover {
        color: black;
      }

      img {
        height: 72px;
      }
    }
  }

  .reset {
    box-shadow: inset -6px 0 5px -1px #aaaaaa;
  }

  .capture-container {
    background-color: white;
  }

  .sidebar {
    background-color: $color-lighter;
    border-left: 1px solid $color-dark;
    box-shadow: -6px 0 5px -1px #aaaaaa;

    .header {
      background-color: $color-light;
      border-bottom: 1px solid $color-dark;
      transition: 1s ease;
      box-shadow: -6px 0 5px -1px #aaaaaa;

      .secondary {
        color: $color-darker;
      }
    }

    .footer {
      > * {
        border-top: 1px solid $color-dark;
      }
    }
  }

  .sidebar-courses {
    .scroller {
      > * {
        border-bottom: 1px solid $color-dark;
        transition: 1s ease;
      }
    }
  }

  .sidebar-combinations .scroller .combination {
    border-bottom: 1px solid $color-dark;
    .number {
      background-color: $color-dark;
      color: white;
    }
  }

  &.mobile {
    .tab-container {
      .tab {
        border-right: 1px solid $color-dark;
        background-color: $color-lighter;
        color: $color-darker;
        border-bottom: 1px solid $color-dark;

        &.active {
          background-color: $color-light;
          color: black;
          border-top: 1px solid $color-dark;
        }
      }
    }
  }
}

.App.dark {
  background-color: #303030;

  .avgGpa.sum {
    background-color: #282828;

    .labelAverage {
      color: rgba(255, 255, 255, 0.7);
    }

    .gpa {
      border: 2px solid #202020;
    }
  }

  .customHandle {
    background: $color-darker;
    border: 2px solid #303030;
    box-shadow: -6px 0 5px -1px #242424;
  }

  .calendar-container {
    box-shadow: inset -6px 0 5px -1px #242424;

    .titlebar {
      background-color: #121212;
      box-shadow: inset -6px 0 5px -1px #101010;

      .icon {
        color: rgba(255, 255, 255, 0.7);
      }

      .icon:hover {
        color: rgba(255, 255, 255, 1);
      }

      .features {
        color: rgba(255, 255, 255, 0.7);
        padding-left: 12px;
      }

      .features:hover {
        color: rgba(255, 255, 255, 1);
      }

      img {
        height: 70px;
      }
    }
  }

  .reset {
    box-shadow: inset -10px 0 8px -2px #242424;
  }

  .capture-container {
    background-color: #212121;
  }

  .sidebar {
    background-color: #303030;
    border-left: 1px solid #212121;
    box-shadow: -10px 0 8px -2px #242424;

    .header {
      background-color: #121212;
      border-bottom: 1px solid #212121;
      transition: 1s ease;
      box-shadow: -6px 0 5px -1px #242424;

      :hover {
        color: white;
      }

      .primary {
        select {
          color: black;
        }

        .selected-option {
          color: rgba(255, 255, 255, 0.7);
        }
      }

      .secondary {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .footer {
      > * {
        border-top: 1px solid #212121;
      }
    }
  }

  .sidebar-courses {
    .scroller {
      > * {
        border-bottom: 1px solid #212121;
      }
    }
  }

  .sidebar-combinations .scoller .combination {
    border-bottom: 1px solid black;

    .number {
      background-color: #212121;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &.mobile {
    .tab-container {
      .tab {
        border-right: 1px solid #121212;
        background-color: #303030;
        color: rgba(255, 255, 255, 0.7);
        border-bottom: 1px solid #121212;

        &.active {
          background-color: #121212;
          color: rgba(255, 255, 255, 0.7);
          border-top: 1px solid #121212;
        }
      }
    }
  }
}
