@import '../../variables';

.empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-neutral;
  flex: 1;

  .empty-title {
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
  }

  .empty-description {
    width: 170px;
    font-size: 0.875em;
    text-align: center;
  }
}

.cards-container {
  margin: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
