@import '../../variables';

.Select {
  position: relative;
  justify-content: space-between;

  .text {
    margin-right: 8px;
  }

  .intercept {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: default;
  }

  .option-container {
    @include popup;

    margin: 0;
    z-index: 1;
    position: absolute;
    left: 0;
    min-width: 100%;
    top: 100%;
    max-height: 240px;
    overflow-y: auto;

    @include dark {
      background-color: $theme-dark-card-background;
    }

    @include light {
      background-color: $theme-light-background;
    }

    .option {
      justify-content: flex-start;
      white-space: nowrap;
    }
  }

  *::-webkit-scrollbar {
    display: none;
  }
}
