@import '../../variables';

@mixin search-result-margin($margin) {
  margin: $margin $margin $margin $margin;
}

.SearchResultContainer {
  @include search-result-margin(13px);
  flex: 1;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .scroller {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 4px;
    flex-shrink: 0;

    .course-list {
      display: flex;
      flex-direction: column;
    }

    .course-add {
      margin: -4px;
    }
  }

  .selected-course {
    margin-top: -20px;

    .header-title {
      font-weight: bold;
      width: 150px;
    }

    .info-table {
      text-overflow: ellipsis;
      text-align: left;
      border-collapse: collapse;

      tr {
        height: 15px;
      }

      .info-table-grade-distribution {
        display: flex;
        flex-direction: row;
        height: 15px;

        .letter {
          margin-top: 0;
          margin-right: 5px;
          color: #8bd6fb;
        }

        .grade {
          margin-top: 0;
          margin-right: 10px;
        }
      }
    }

    .grade-distribution {
      margin-top: 20px;
      width: 100%;
    }

    .professor-header {
      align-items: center;
      background-color: #393939;
      text-overflow: ellipsis;
      width: 100%;
      height: 40px;
      font-size: 12px;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .professor-header-left {
        display: flex;
        margin-left: 15px;

        .name {
          margin-right: 15px;
        }
      }
    }

    .section-info {
      font-size: 12px;
      height: 43px;

      td {
        border-bottom: 1px solid #505050;
      }

      .selection-button {
        background: none;
        border: none;
        width: 30px;
      }
    }

    .grade-distribution-header {
      text-align: left;
      font-size: 11px;
      font-weight: light;
      color: #adadad;
      height: 30px;
    }

    .grade-distribution-string {
      display: flex;
      flex-direction: row;

      .letter {
        margin-right: 5px;
        color: #8bd6fb;
      }

      .grade {
        margin-right: 10px;
      }
    }
  }

  .default-icon {
    position: relative;
    top: 40%;
    left: calc(50% - 90px);
    color: #808080;
    width: 180px;
    text-align: center;
    p {
      margin: 0;
    }
    h3 {
      margin: 0 0 3px 0;
    }
  }

  .label {
    margin: 0;
  }

  .updated-at {
    color: $color-neutral;
    font-size: 0.8em;
  }
}

.mobile .SearchResultContainer {
  flex: 1;
  border-right: none;

  .scroller {
    width: auto;
  }
}
