@import '../../variables';

@mixin search-result-margin($margin) {
  margin: $margin $margin $margin $margin;
}

.SearchResultContainer {
  @include search-result-margin(13px);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  .scroller {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 4px;
    flex-shrink: 0;

    .course-list {
      display: flex;
      flex-direction: column;
    }

    .course-add {
      margin: -4px;
    }
  }

  .default-icon {
    position: relative;
    top: 40%;
    left: calc(50% - 90px);
    color: #808080;
    width: 180px;
    text-align: center;
    p {
      margin: 0;
    }
    h3 {
      margin: 0 0 3px 0;
    }
  }

  .label {
    margin: 0;
  }

  .updated-at {
    color: $color-neutral;
    font-size: .8em;
  }
}

.mobile .SearchResultContainer {
  flex: 1;
  border-right: none;

  .scroller {
    width: auto;
  }
}
