.view-section {
  color: #57a0d5;
  margin-top: 29px;
  font-size: 0.875em;
  display: flex;
  gap: 8px;
  align-items: center;
  height: 0.875em;
  font-weight: 400;
  cursor: pointer;
}

.view-section:hover {
  text-decoration: underline;
}
