.MaintenanceModal {
  img {
    width: 175px;
    margin: 0 auto;
    display: block;
  }

  h1 {
    line-height: 1;
    font-weight: 700;
  }

  h4 {
    opacity: 0.7;
    font-weight: 500;
  }

  p.maintenance-content {
    width: 600px;
    margin: 16px auto;
    text-align: center;
    font-size: .95em;

    span {
      color: #C56E5B;
    }
  }
}

.mobile.MigrationModal {
  .migration-content {
    width: 80%;
  }
}