@import '../../variables';

.CardContainer {
  display: flex;
  flex-direction: column;
  background-color: $theme-dark-background-foreground;
  border-left: 8px solid $theme-dark-background-foreground;
  border-radius: 5px;
  padding: 20px;
}
