@import '../../variables';

.CardContainer {
  display: flex;
  flex-direction: column;
  @include dark(background-color, $theme-dark-background-foreground);
  @include light(background-color, $card-light-background);
  border-left: 8px solid $theme-dark-background-foreground;
  border-radius: 5px;
  padding: 20px;
}
