@import "../../variables";

.SeatInfo {
  padding: 4px;
  display: flex;
  justify-content: flex-end;

  .seating-container {
    display: flex;
    flex-direction: row;

    .seating {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      

      .seats,
      .waitlist {
        font-size: 0.8em;

        &.light-label {
          color: $color-neutral; // color of title on light bg
        }

        &.dark-label {
          color: $modal-foreground-color-dark; // color of title on dark bg
        }

        .status.light-content {
          color: $theme-dark-card-background; // color of numbers on light bg
        }

        .status.dark-content { // color of numbers on dark bg
          color: $theme-light-background;
        }
      }
    }
  }
}
