@import '../../variables';

body {
  background-color: $theme-dark-background;
  color: $theme-dark-foreground;
}

.EmailInviteConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 38px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 24px;
  height: 100%;

  @media (max-width: 1000px) {
    padding-top: 80px;

    h1 {
      font-size: 24px;
      align-self: flex-start;
    }

    p {
      align-self: flex-start;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: 600;
  }

  .footer {
    position: absolute;
    bottom: 38px;
  }

  .continue-button {
    background-color: #FE7C53;
    color: white;
    margin-top: 96px;
    padding: 8px 24px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 32px;
    font-weight: 600;
  }
}
