.google-map {
  // subtract header height
  height: calc(100% - 64px);
  width: 100%;

  .pin-text {
    text-shadow: 0px 0px 5px #000;
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .pin {
    display: flex;
    align-items: center;

    svg {
      filter: drop-shadow(
        0px 0px 3px #00000080
      );
    }
  }

  .pin-icon {
    font-size: 2rem;
    color: #C54848;
  }
}