.FeedbackButton {
  position: absolute;
  top: 84%;
  right: 2%;
  background-color: #434343;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.FeedbackForm {
  position: absolute;
  top: 50%;
  right: 2%;
  background-color: #434343;
  width: 300px;
  height: 340px;
  border-radius: 5px;
}

.container {
  margin-left: 20px;
  margin-top: 20px;
}

.text {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.FeedbackTitle  {
  font-size: 24px;
}

.FormButtons div {
  display: inline-block;
  justify-content: space-around;
  background-color: #333333;
  color: #c4c4c4;
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
}

.FormButton {
  vertical-align: middle;
  height:40px;
  width: 40px;
}

.score {
  font-size: 14px;
}

.FeedbackTextArea {
  margin-top: 20px;
  background-color: #333333;
  height: 85px;
  width: 260px;
  font-size: 16px;
  resize: none;
  border-radius: 5px;
}

.SubmitButton {
  position: relative;
  left: 12%;
  width: 100px;
  height: 30px;
  background-color: #429bda;
  font-size: 16px;
  margin-top: 13px;
  text-align: center;
  margin-left: 51px;
  border-radius: 5px;
}

.CloseIcon {
  margin-left: 250px;
  position: absolute;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
