.App.light .CourseAdd {
  display: flex;
  flex-direction: column;
  transition: 1s ease;

  .keyword {
    padding: 8px;
    border: none;
    font-size: inherit;
  }

  .autocomplete {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.8);
  }
}

.App.dark .CourseAdd {
  display: flex;
  flex-direction: column;
  transition: 1s ease;

  .keyword {
    padding: 8px;
    border: none;
    font-size: inherit;
  }

  input[type='text'] {
    color: rgba(255, 255, 255, 0.8);
  }

  .autocomplete {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.8);
  }
}
