@import '../../variables';

.EventAdd {
  display: flex;
  flex-direction: column;

  .add {
    @include card;
    overflow: visible;
    background-color: $color-border;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    table {
      border-collapse: collapse;
      table-layout: auto;
      width: 100%;

      tr:last-child {
        border-bottom: none;
      }

      tr {
        border-bottom: 1px solid $color-border;

        .label {
          opacity: 0.5;
          transition: opacity 0.2s;
          font-weight: bold;
          padding: 10px;
          font-size: 0.8em;

          &.active {
            opacity: 1;
          }
        }

        .input {
          display: flex;
          align-items: center;
          position: relative;

          input {
            position: relative;
            background: none;
            border: none;
            outline: none;
            font-size: 0.9rem;
            padding: 10px 0;
            height: 100%;

            &::placeholder {
              font-weight: normal;
              color: $color-neutral;
            }

            &.time {
              width: 18px;
              text-align: center;
            }
          }

          input[type='time'] {
            min-height: 2.5rem;

            &::-webkit-calendar-picker-indicator {
              display: none;
            }

            &::-webkit-date-and-time-value {
              text-align: left;
            }
          }

          .colon {
            margin-left: 1px;
            margin-right: 1px;
          }

          .ampm {
            margin-left: 2px;
            font-size: 0.9rem;

            .option-container {
              z-index: 99;
            }
          }
        }

        .tag-container {
          display: flex;
          flex-wrap: wrap;
          padding: 4px 0;

          .tag:first-child {
            margin-left: 0;
          }

          .tag {
            @include card;
            background-color: rgba($color-neutral, 0.5);
            padding: 4px 8px;
            opacity: 0.5;
            transition: opacity 0.2s;
            font-size: 0.8em;
            cursor: pointer;

            &.active {
              opacity: 1;
              font-weight: bold;
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        .submit {
          width: 100%;

          .button {
            float: right;
            display: block;
            background-color: #589bd5;
            margin: 10px 8px;
            padding: 5px 25px;
            border-radius: 6px;
            color: white;
          }

          .error {
            color: #ff9292;
            font-size: small;
            padding: 10px 8px;
          }
        }
      }
    }
  }
}
