@import "variables";

.App {
  display: flex;
  align-items: flex-start;
  height: 100vh;

  .container {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
  }

  .sidebar {
    background-color: $color-lighter;
    align-self: stretch;
    width: 240px;
    overflow-y: scroll;
    border-left: 1px solid $color-dark;

    .title {
      padding: 8px;
      font-weight: bold;
      font-size: 1.2em;
      background-color: $color-light;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $color-dark;

      .primary {
        flex: 1;
      }

      .secondary {
        font-size: .8em;
        color: $color-darker;
      }
    }

    .crns {
      text-align: center;
      padding: 8px;
      font-size: .8em;
      font-weight: bold;
      background-color: $color-light;
      color: $color-darker;
      border-bottom: 1px solid $color-dark;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }

    .course-add {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $color-dark;

      .keyword {
        padding: 8px;
        border: none;
        font-size: inherit;
      }

      .courses {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
