$calendar-height: 840px;
$calendar-width: 720px;
$time-width: 48px;
$day-height: 40px;

$color-lighter: #eeeeee;
$color-light: #dddddd;
$color-dark: #bbbbbb;
$color-darker: #666666;

$shadow-light: #aaaaaa;

$text-color-light: $color-lighter;
$text-color-dark: #333333;

$text-dark: rgba(255, 255, 255, 0.7);

$opacity-inactive: 0.6;
$opacity-disabled: 0.38;
$opacity-divider: 0.2;
