@import '../../variables.scss';

.login-modal-content {
  .firebaseui-idp-github.firebaseui-id-idp-button {
    // Fix the GitHub button to not be the same color as the background
    // when in dark mode.
    @include dark {
      background-color: #505050 !important;
    }
  }

  .invisible-input {
    // opacity: 0;
    // pointer-events: none;
    position: absolute;
  }

  .firebaseui-container {
    @include dark {
      color: white;
      background-color: $theme-dark-background;

      .mdl-button--primary.mdl-button--primary {
        color: white;
      }

      .firebaseui-input,
      .mdl-textfield__label {
        color: white;
      }

      .firebaseui-text {
        color: rgba(white, 0.7);
      }
    }
  }

  // Remove the bottom margin on both the last button
  // and on the outer list element::after
  .firebaseui-idp-list > .firebaseui-list-item,
  .firebaseui-tenant-list > .firebaseui-list-item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .firebaseui-idp-list {
    margin-bottom: 0;
  }

  .mdl-card {
    @include popup;

    @include dark {
      background-color: $theme-dark-card-background;
    }
  }
}
