.banner {
  width: 100%;
  color: white;
  background-color: #c56e5b;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-left: 12px;

  .bannerContent {
    flex: 1;
    text-align: center;
  }

  .bannerButton {
    display: inline-block;
  }

  .bannerButton:hover {
    text-decoration: underline;
  }
}
